<div class="ui container raised segment spacer">
  <div class="form">
    <form #form="ngForm">
      <button class="ui blue button" (click)="Start()" *ngIf="!started">Start Game</button>
      <button class="ui button" *ngIf="started" (click)="EndGame()">End & View Results</button>
      <div *ngIf="progressBar>100"> Time limit exceeded! Proceeding to next question...
      </div>
      <hr>
      <ng-container >
        <mat-progress-bar *ngIf="started" mode="determinate" value="{{progressBar}}"></mat-progress-bar>
        <div class="ui form">
          <div class="fields">
            <div class="field">
              <input type="text" name="input1" [readonly]="true" value="{{inputOne}}">
            </div>
            <div class="field small">
              <input type="text" name="operator" [readonly]="true" [value]="'+'">
            </div>
            <div class="field">
              <input type="text" name="operator" [readonly]="true" value="{{inputTwo}}">
            </div>
            <div class="field ui input" [ngClass]="{correct :resultClass}">
              <input type="text" [readonly]="!started" #res=ngModel name="result" (input)="CheckResult($event)"
                [(ngModel)]="result" value={{result}}>
            </div>
          </div>
        </div>
      </ng-container>  
    </form>

  </div>

  <div *ngIf="stopped && (loginObs | async)" class="ui segment">
    <span>
      Total Questions attempted : <strong>{{total}} </strong> 
    </span>
    <hr>
    <span>
      Number of correct answers : <strong>{{counter}} </strong>
    </span>
  </div>
</div>
  



<div class="ui ignored bottom attached warning message">
  <strong> How to Play </strong>
  <p>
    1. Press Start to launch the game. <br/>
    2. Calculate the sum of numbers and enter you answer in the blank field. <br/>
    3. Correct answer will take you to next set of question.
    4. Wrong answer, you have 10 seconds to enter correct answer.
    3. Next set of questions will be displayed if no correct answer was entered after 10 seconds<br/>
    5. Press Enter or "End & View Results" to view your results.<br/>
  </p>
</div>

<div class="ui success message">
  <div class="header">
    Join League to view other players result and to see your rank.
  </div>
</div>

